@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;1,6..96,400&family=Mulish:wght@200;300;500&family=Raleway:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./background.jpg);
  background-attachment: fixed;
  background-position: center;
  font-family: "Bodoni Moda", serif;
}
h1 {
  color: #ba22ce;
  font-size: 35px;
  text-align: center;
}
h2 {
  color: #707070;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  line-height: 0;
}
h3 {
  color: #ef9595;
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}
h4 {
  color: #ef9595;
  text-align: center;
  margin: 20px;
  font-size: 25px;
}
nav img {
  width: 90px;
  margin: 20px;
}
.hero {
  margin: 40px 0;
}
.hero img {
  width: 150px;
  border-radius: 70px;
  display: block;
  margin: 0 auto;
}
.hero-text {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 10px 10px 41px -10px rgba(0, 0, 0, 0.34);
  color: #90667b;
  margin: 5% 20%;
  text-align: center;
  border-radius: 20px;
}
.hero-text p {
  padding: 10px;
  line-height: 30px;
}
.section {
  margin: 100px 0;
}
.section img {
  width: 200px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}
.free-call {
  text-align: center;
  border: 0.5px;
  border-style: solid;
  border-color: #ef9595;
  background-color: #ffb5b5;
  border-radius: 20px;
  margin: 5px 120px;
  padding: 10px 20px;
}
.free-call a {
  text-decoration: none;
  color: #ffffff;
}
.free-call a:hover {
  color: #d88ab1;
}

.free-call-big-screen {
  display: none;
}
.pink-panel {
  background-color: rgb(239, 149, 149, 0.6);
  color: white;
  margin: 0 50px;
  border-radius: 20px;
}
.pink-panel p {
  padding: 20px;
  text-align: center;
}
.end-page {
  text-align: center;
  border: 0.5px;
  border-style: solid;
  border-color: #ef9595;
  background-color: #ef9595;
  border-radius: 20px;
  margin: 50px 120px;
  padding: 10px 20px;
}
.end-page a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

footer {
  background-image: url(./imgs/background-footer-small.jpg);
  background-position: center;
  height: 500px;
}
.contact {
  padding-top: 40px;
  color: #7b4560;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}
.contact a {
  text-decoration: none;
  color: #7b4560;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons img {
  width: 50px;
}

.logo img {
  width: 50px;
  display: block;
  margin: auto;
}
.web-name {
  color: white;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  body {
    background-image: url(./imgs/background-long-difuminado.jpg);
    background-attachment: fixed;
    background-position: center;
    font-family: "Bodoni Moda", serif;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3,
  h4 {
    font-family: "PT Serif", serif;
    font-size: 40px;
    color: #d98482;
    font-weight: 400;
    margin-bottom: 45px;
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    margin-top: 70px;
  }
  .hero img {
    width: 200px;
    height: 250px;
    border-radius: 35px;
  }
  .img-call-to-action {
    width: 30%;
  }
  .hero-text {
    margin: 0;
    width: 50%;
  }
  .hero-text p {
    font-size: 17px;
  }
  .free-call {
    display: none;
  }
  .free-call-big-screen {
    display: block;
    width: 150px;
    text-align: center;
    font-size: 1.3vw;
    border: 0.5px;
    border-style: solid;
    border-color: #ba22ce;
    background-color: #ba22ce;
    border-radius: 20px;
    margin: 8px auto;
    margin-bottom: 0;
    padding: 5px 0;
  }
  .free-call-big-screen a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 10px;
  }
  .free-call-big-screen:hover {
    background-color: #a112b4;
    box-shadow: 10px 10px 41px -10px rgba(0, 0, 0, 0.34);
  }
  .section-text {
    width: 90%;
    display: flex;
    margin: 50px 0;
  }
  .hero-text {
    padding: 20px;
  }
  .text-adjust {
    width: 40%;
    display: flex;
    align-items: center;
  }
  .text-adjust p {
    line-height: 2;
  }
  .section img {
    width: 300px;
    border-radius: 70px;
  }
  .qhht-img {
    width: 300px;
    height: 300px;
  }

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .wrapper img {
    margin: 0 20px;
  }
  .pink-white-text-wrapper {
    width: 40%;
  }
  .white-panel {
    width: 100%;
    margin: 0 auto;
  }
  .pink-panel {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
  }
  .reversed {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .end-page {
    background-color: #ba22ce;
    width: 600px;
    margin: 50px auto;
  }
  .end-page a {
    font-size: 22px;
  }
  .end-page:hover {
    background-color: #a112b4;
  }
  footer {
    background-image: url(./imgs/background-footer-long.jpg);
    background-position: center;
    height: 500px;
  }
  .logo {
    margin-top: 40px;
  }
  .logo img {
    width: 100px;
  }
  .web-name {
    margin-top: 100px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1060px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 1.5vw;
  }
  .hero-text p {
    font-size: 21px;
  }
  .free-call-big-screen {
    display: block;
    width: 60%;
  }
  .section img {
    width: 30%;
    border-radius: 70px;
  }
  .qhht-img {
    width: 30%;
    height: 30%;
  }
  .wrapper img {
    margin: 0 50px;
  }
}
